.title{
    color: black;
}

.code{
    margin: 10px;
    width: 420px;
    /* display: flex; */
    /* margin: 0 auto; */
    border: 1px solid #ccc;
    background-color: #000;
    color:aquamarine;
    padding: 8px;
    min-height: 320px;
    resize: none;
    padding: 20px;
}
.code-editor-container{
    margin-top: 20px;
}

.note{
    font-style: italic;
    font-size: 12px;
}

.language-js{
    
    min-width: 300px;
    max-width: 520px;
    background-color: #eee;
}

.customcontent{
    margin: 4px;
}